# DEV
__pycache__/
*.pyc
*.log
*.logs
.vscode/
*.code-workspace
venv/
*.egg-info
test_example.py
.pytest_cache/
.todo
dev_example.py
.vco_4.3.0_changelog.txt

# Refactoring
velocloud/orchestrator/edge.py
velocloud/orchestrator/enterprise.py

# Non-Package Stuff
velocloud/reports/